<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="guestbook.css">
</head>

<body class="container">
    <header>
        <ul>
            <li><a href="Zech_Jordan.html">Home</a></li>
            <li><a href="mychoice.html">Hourly Wage Calculator</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="guestbook">Guestbook</a></li>
            <li><a href="new-entry">New-entry</a></li>
        </ul>
    </header>
    <h1>
        Express Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
    </h1>